In [5]:
import pandas as pd
import numpy as np

insurance_data = pd.read_csv('insurance.csv')
insurance_data.head()

    age     sex     bmi  children smoker     region       charges
0  19.0  female  27.900       0.0    yes  southwest     16884.924
1  18.0    male  33.770       1.0     no  Southeast     1725.5523
2  28.0    male  33.000       3.0     no  southeast     $4449.462
3  33.0    male  22.705       0.0     no  northwest  $21984.47061
4  32.0    male  28.880       0.0     no  northwest    $3866.8552

In [9]:
## Task 1: Clean up the data
## 1.1: Check for missing values
# Standardize categories in region
## Standadize charges data type ,all values should be float

insurance_data_without_na = insurance_data.dropna()
insurance_data_without_na.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1208 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1208 non-null   float64
 1   sex       1208 non-null   object
 2   bmi       1208 non-null   float64
 3   children  1208 non-null   float64
 4   smoker    1208 non-null   object
 5   region    1208 non-null   object
 6   charges   1208 non-null   object
dtypes: float64(3), object(4)
memory usage: 75.5+ KB