In [2]:
import pandas as pd
import numpy as np

insurance_data = pd.read_csv('insurance.csv')
insurance_data.head()

    age     sex     bmi  children smoker     region       charges
0  19.0  female  27.900       0.0    yes  southwest     16884.924
1  18.0    male  33.770       1.0     no  Southeast     1725.5523
2  28.0    male  33.000       3.0     no  southeast     $4449.462
3  33.0    male  22.705       0.0     no  northwest  $21984.47061
4  32.0    male  28.880       0.0     no  northwest    $3866.8552

In [4]:
## Task 1: Clean up the data
## 1.1: Check for missing values
# Standardize categories in region
## Standardize sex to just two categories
## Standadize charges data type ,all values should be float

insurance_data_without_na = insurance_data.dropna().copy()

insurance_data_without_na['region'] = insurance_data_without_na['region'].str.lower()

FEMALE = 'female'
MALE = 'male'

sex_map = {'F': FEMALE , 'woman': FEMALE , 'man': MALE , 'M': MALE}
insurance_data_without_na['sex'] = insurance_data_without_na['sex'].replace(sex_map)

insurance_data_without_na= insurance_data_without_na[insurance_data_without_na['age'] >=0].copy()
insurance_data_without_na= insurance_data_without_na[insurance_data_without_na['children']>=0].copy()

insurance_data_without_na['smoker']= insurance_data_without_na['smoker'] == 'yes'
insurance_data_without_na['charges'] = insurance_data_without_na['charges'].str.replace('$', '').str.replace(',', '').astype(float)
insurance_data_without_na.head()

    age     sex     bmi  children  smoker     region      charges
0  19.0  female  27.900       0.0    True  southwest  16884.92400
1  18.0    male  33.770       1.0   False  southeast   1725.55230
2  28.0    male  33.000       3.0   False  southeast   4449.46200
3  33.0    male  22.705       0.0   False  northwest  21984.47061
4  32.0    male  28.880       0.0   False  northwest   3866.85520